*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: brown;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;

}

.todo-text {
    width: 80%;
    display: inline-block;
}