*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: brown;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    background-color:#3535ec;
    border-radius: 3em;
    padding: 3em;
}
.main{
    margin: auto;
    width: 85%;
}
.header{
    margin: auto;
    
}
.input{
    border: solid 1px lightgray;
    padding: 1em;
    border-radius: 1em;
}
.input input{
    width: 90%;
}
.todo{
    background-color: greenyellow;
    margin: 1em 0;
    border-radius: 1em;
    padding: 1em;
}

.todo-text {
    width: 90%;
    display: inline-block;
    
}